.logo{
    padding:1vh 1vw;
    text-align: center;
  }
  .logo img {
    height: 5rem;
    width: 5rem;
  }
  .nav li{
    padding: 20px;
    font-size: 18px;
  }
  /*---------------------------------------------*/
  #topinfobar {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
    height: 30px;
    display: table;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    -webkit-font-smoothing: antialiased;
    color: #5c5e60;
    background-color: white;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
  }
  #topinfobar.regular {
    height: 30px;
    font-size: 14px;
    padding: .2em .5em;
  }
  .hb-content-wrapper {
    text-align: center;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
  .hb-content-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .hb-text-wrapper {
    margin-right: .67em;
    display: inline-block;
    line-height:1.3;
  }
  .hb-text-wrapper .hb-headline-text {
      font-size:1em;
      display:inline-block;
      vertical-align:middle; 
  }
  #topinfobar .hb-cta {
      display:inline-block; 
      vertical-align:middle; 
      margin:5px 0; 
      color:#ffffff; 
      background-color:#22af73; 
      border-color:#22af73
  }
  /*---------------------------------------------*/
.banklogo{
    margin-top: 50px;
}

.banksearch{
    margin-top: 50px;
}
#search-button{
    background-color: cyan;
    color: black;
}
.search_bar{
    box-shadow: 0px 0px 0px 1px gold;
}